<ul class="stage-navigation">
  <li class="stage-navigation__link">
    <a href="#stage1" class="stage-navigation__a">Консультация</a>
    <include src="src/templates/mark.html"></include>
  </li>
  <li class="stage-navigation__link">
    <a href="#stage2" class="stage-navigation__a">ТЗ</a>
    <include src="src/templates/mark.html"></include>
  </li>
  <li class="stage-navigation__link">
    <a href="#stage3" class="stage-navigation__a">Прототип</a>
    <include src="src/templates/mark.html"></include>
  </li>
  <li class="stage-navigation__link">
    <a href="#stage4" class="stage-navigation__a">Дизайн</a>
    <include src="src/templates/mark.html"></include>
  </li>
  <li class="stage-navigation__link">
    <a href="#stage5" class="stage-navigation__a">Frontend</a>
    <include src="src/templates/mark.html"></include>
  </li>
  <li class="stage-navigation__link">
    <a href="#stage6" class="stage-navigation__a">Backend</a>
    <include src="src/templates/mark.html"></include>
  </li>
  <li class="stage-navigation__link">
    <a href="#stage7" class="stage-navigation__a">Релиз</a>
    <include src="src/templates/mark.html"></include>
  </li>
</ul>
