<script defer src="/js/libs.min.js"></script>
<script defer src="/js/app.js"></script>
<footer class="footer">
  <div class="footer__left">
    <a href="" class="footer__logo-link">
      <include src="src/templates/logo.html"></include>
    </a>
    <a href="" class="footer__social-link">
      <img src="../img/telegram.svg" alt="" class="footer__icon" />
    </a>
    <a href="" class="footer__social-link">
      <img src="../img/whatsapp.svg" alt="" class="footer__icon" />
    </a>
  </div>
  <div class="footer__right">
    <h5 class="footer__title">Контакты</h5>
    <p class="footer__contact tel">+7 (302) 55-50-107</p>
    <p class="footer__contact mail">brighten@web.ru</p>
  </div>
</footer>
