<div class="form-component">
  <div class="form-component__top">
    <h5 class="form-component__title">Оставьте заявку</h5>
    <p class="form-component__desc">чтобы мы связались с вами</p>
  </div>
  <form action="" class="form-component__form">
    <input type="text" placeholder="Имя" />
    <input type="text" placeholder="Телефон" />
    <input type="text" placeholder="Почта" />
    <input type="text" placeholder="Ссылка на ваш сайт" />
    <input type="text" placeholder="Имя" />
    <label for="textareas">Пожелания и идеи</label>
    <textarea name="" id="textarea" cols="30" rows="4"></textarea>
    <button class="button form-component__btn">Кнопка</button>
  </form>
</div>
