<div class="comparison">
    <div class="container">
        <include
        src="src/templates/title/numbers-title.html"
        ></include>
    </div>

    <div class="comparison__cocoen-wrapper">
        <div class="container">
            <div class="comparison__cocoen">
                <div class="cocoen">
                    <img class="comparison__img" 
                    src="../../img/comparison/DIFFERENT_TYPES_of_WEBSITES_jpg_CIaku32S.jpeg" alt="" />
                    <img class="comparison__img" 
                    src="../../img/comparison/evaluate-a-website-featured-600015af03461-1280x720.png" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>