<div class="comparison">
    <div class="container">
        <include
        src="src/templates/title/comparison-title.html"
        ></include>
    </div>

    <div class="comparison__cocoen-wrapper">
        <div class="container">
            <div class="comparison__cocoen">
                <div class="cocoen">
                    <img class="comparison__img" 
                    src="../../img/comparison/site2b-old.jpeg" alt="" />
                    <img class="comparison__img" 
                    src="../../img/comparison/site2b-new.jpeg" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>