<div class="offer-button">
  <div class="container">
    <div class="offer-button__inner">
      <div class="title-section title m-no-paint offer-button__title">
        <h2>
          <span>Появились<br/></span>вопросы?<br />
        </h2>
        <p class="offer-button__desc">
          Напишите нам о своей проблеме и мы быстро Вам ответим
        </p>
        <a href="#modal" class="button offer-button__btn modal-link">Отправить заявку</a>
      </div>
      <div class="offer-button__right">
        <img
          src="../../img/offer-button/offer-img.svg"
          alt=""
          class="offer__img"
        />
      </div>
    </div>
  </div>
</div>
