<div class="offer-button">
  <div class="container">
    <div class="offer-button__inner">
      <div class="title-section title m-no-paint offer-button__title">
        <h2>
          <span>Вброс</span> блок<br />
          Lorem ipsum
        </h2>
        <p class="offer-button__desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </p>
        <button class="button offer-button__btn">Кнопка</button>
      </div>
      <div class="offer-button__right">
        <img
          src="../../img/offer-button/offer-img.svg"
          alt=""
          class="offer__img"
        />
      </div>
    </div>
  </div>
</div>
