<section class="tetris-block">
    <div class="container">
        <include
        src="src/templates/title/tetris-title.html"
        ></include>
      <div class="tetris">
          <div class="tetris__item">
              <h3 class="tetris__item-title">Заголовок</h3>
              <p class="tetris__item-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                   sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
          </div>
          <div class="tetris__item m-big">
              <h3 class="tetris__item-title">Заголовок</h3>
              <p class="tetris__item-text">Lorem ipsum dolor sit amet,
                   consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                   quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
          </div>
          <div class="tetris__item m-big">
              <h3 class="tetris__item-title">Заголовок</h3>
              <p class="tetris__item-text">Lorem ipsum dolor sit amet,
                   consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                   quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
          </div>
          <div class="tetris__item">
              <h3 class="tetris__item-title">Заголовок</h3>
              <p class="tetris__item-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                   sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
          </div>
      </div>
    </div>
  </section>