<section class="tetris-block">
    <div class="container">
        <include
        src="src/templates/title/tetris-title.html"
        ></include>
      <div class="tetris">
          <div class="tetris__item">
              <h3 class="tetris__item-title">выгодно</h3>
              <p class="tetris__item-text">
                 Наша команда позаботится о том, чтобы ваш сайт выглядел не только красиво, но и был удобен пользователям. 
              </p>
          </div>
          <div class="tetris__item m-big">
              <h3 class="tetris__item-title">искусство</h3>
              <p class="tetris__item-text">Почему это выгодно? Удержать пользователя легче с хорошим сайтом. Что отличает хороший сайт от красивого? Грамотный интерфейс, проработанное оформление и многое другое. На хорошем сайте пользователь быстро отыщет то, что ему нужно и обязательно обратится к нему вновь!</p>
          </div>
          <div class="tetris__item m-big">
              <h3 class="tetris__item-title">для вас</h3>
              <p class="tetris__item-text">                Именно поэтому – не бойтесь, открываясь новому! Доверьтесь нашей команде молодых разработчиков и дизайнеров, которые всегда готовы провести вас в мир свежих дизайнов и новых интерфейсов.</p>
          </div>
          <div class="tetris__item">
              <h3 class="tetris__item-title">к нам</h3>
              <p class="tetris__item-text"> Любой сайт можно заставить сиять новыми красками, и мы знаем как! 

              </p>
          </div>
      </div>
    </div>
  </section>