<section class="numbers-block">
    <div class="container">
        <include
        src="src/templates/title/numbers-title.html"
        ></include>
        <div class="numbers">
            <div class="numbers__item">
                <div class="numbers__number">
                    <span>10</span>
                    <img class="numbers__icon m-cent" src="../../img/numbers/cent.svg" alt="">
                </div>
                <p class="numbers__text">
                    Секунд достаточно пользователю, чтобы закрыть непонравившийся сайт
                </p>
            </div>
            <div class="numbers__item">
                <div class="numbers__number">
                    <span>88</span>
                    <img class="numbers__icon m-percent" src="../../img/numbers/percent.svg" alt="">
                </div>
                <p class="numbers__text">
                    Процентов пользователей не возвращаются на сайт, если их не устроил дизайн
                </p>
            </div>
            <div class="numbers__item">
                <div class="numbers__number">
                    <span>000</span>
                    <img class="numbers__icon m-dollar" src="../../img/numbers/dollar.svg" alt="">
                </div>
                <p class="numbers__text">
                    Долларов приносит сайт, который не смог привлечь пользователя
                </p>
            </div>
        </div>
    </div>
  </section>