<div class="offer">
    <div class="container">
        <div class="offer__inner">
            <div class="title-section title m-no-paint offer__title">
                <h2><span>Вброс</span><br class="br__lg"/>блок <br class="br__lg"/>lorem<br class="br__lg"/> ipsum <br class="br__lg"/></h2>
            </div>
            <div class="offer__right">
                <img src="../../img/offer/offer-img.svg" alt="" class="offer__img">
                <button class="button offer__btn">Кнопка</button>
            </div>
        </div>
    </div>
</div>