<div class="offer">
    <div class="container">
        <div class="offer__inner">
            <div class="title-section title m-no-paint offer__title">
                <h2>Уже <br class="br__lg"/>хотите<br/><span>связаться<br class="br__lg"/> с нами?</span></h2>
            </div>
            <div class="offer__right">
                <img src="../../img/offer/offer-img.svg" alt="" class="offer__img">
                <a href="#modal" class="button offer__btn modal-link">Отправить заявку</a>
            </div>
        </div>
    </div>
</div>